.navbar .fa-cart-plus{
    position:absolute;
    top:20px;
    bottom:-100px;
    right:50px;
    color:yellow;
    
}

.navbar .number{
    position:absolute;
    top:0px;
    bottom:-60px;
    right:60px;
    overflow: hidden;
    color:red;
    
}